vendor/
.vagrant/
.sass-cache/
node_modules/
public/assets/bower/
public/assets/coffee/build/
public/assets/sass/build/
public/assets/js/*.min.js
coverage/
app/config/development/
app/config/production/
app/config/testing/
app/storage/
bootstrap/compiled.php
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
.idea
VagrantFile
_ide_helper.php
