/bootstrap/compiled.php
/vendor
composer.phar
.env.local.php
.env.php
.DS_Store
Thumbs.db
.idea
.sass-cache/
node_modules
public/assets/bower
public/assets/coffee/build/
app/config/local
app/config/app.php
app/config/database.php