vendor/
.sass-cache/
node_modules/
public/assets/bower/
public/assets/coffee/build/
public/assets/sass/build/
public/assets/js/*.min.js
app/config/development/
app/storage/
app/config/production
bootstrap/compiled.php
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
.idea
VagrantFile
_ide_helper.php
