@import "bootstrap-variables-override"
@import "bootstrap"
@import "compass/css3"

[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important

[ng-click]
  cursor: pointer

.main
  margin-top: $navbar-height

input.ng-invalid.ng-dirty
  border: 1px solid $brand-warning
  color: $brand-warning

input.ng-valid.ng-dirty
  border: 1px solid $brand-success
  color: $brand-success

.error
  color: $brand-danger

.tool
  cursor: pointer
  &:hover
    color: darkorange

.read
  color: darkgray
  a
    color: inherit

.text-warning, .text-danger
  a
    color: inherit

.top-margin
  margin-top: 15px

.link_container
  position: relative

span.disabled
  color: #CCC
  cursor: default
  &:hover
    color: #CCC

.pagination
  li
    a.current
      background-color: #428bca
      color: #FFFFFF

.item.ng-move,
.item.ng-enter,
.item.ng-leave
  -webkit-transition: all linear 0.5s
  transition: all linear 0.5s

.new
  @include single-transition(background, 1s, ease-in)
  background-color: limegreen !important

.alert-danger
  .btn-danger
    color: white

.underline
  text-decoration: underline

.uib-tab
  cursor: pointer

.search-wrapper
  position: relative
  .clear-input
    position: absolute
    top: 10.5px
    right: 20px
    z-index: 999
    cursor: pointer
    color: #999999

.postpone-button
  display: none

#daily_articles
  .postpone-button
    display: inline-block