html, body {
  height: 100%;
}

.read {
 a {
  color: $gray-light;
  font-style: italic;
  font-weight: lighter;
 }
}

.postpone-button {
  display: none;
}

.daily-articles {
  .postpone-button {
    display: inline;
  }
}

.article, .chain, .task, .song, .book {
  &:nth-child(even) {
    background-color: $gray-lightest;
  }
}

.task .task {
  border-bottom: 1px solid $gray;
}

.login {
  height: 100vh;
}