@import "../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap"

.main
  margin-top: 70px

input.ng-invalid.ng-dirty
  border: 1px solid darkred
  color: darkred

input.ng-valid.ng-dirty
  border: 1px solid darkgreen
  color: darkgreen

.overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.6)
  z-index: 2e9

.error
  color: darkred

.tool
  cursor: pointer
  &:hover
    color: darkorange

.read
  color: darkgray
  a
    color: inherit
