@import "../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap"

#overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.6)
  z-index: 2e9

.main
  margin-top: 70px